@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<button class="btn btn-danger" @onclick="ConfirmarReseteo">Resetear contador</button>
<DialogoConfirmacion @ref=dialogo Mensaje="¿Está seguro que desea resetear el contador?" />


@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
    DialogoConfirmacion dialogo = null!;
    private void ConfirmarReseteo()
    {
        dialogo.Mostrar();
    }
}@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<button class="btn btn-danger" @onclick="ConfirmarReseteo">Resetear contador</button>
<DialogoConfirmacion @ref=dialogo Mensaje="¿Está seguro que desea resetear el contador?" />


@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
    DialogoConfirmacion dialogo = null!;
    private void ConfirmarReseteo()
    {
        dialogo.Mostrar();
    }
}