@page "/vehiculo/{ID:int?}"
@inject NavigationManager Navegador;
@inject AgregarVehiculoUseCase AgregarVehiculoUseCase
@inject ModificarVehiculoUseCase ModificarVehiculoUseCase
@inject ObtenerVehiculoUseCase ObtenerVehiculoUseCase
@inject ListarTitularesUseCase ListarTitularesUseCase

<input placeholder="Marca" @bind="_vehiculo.Marca" class="form-control">
<input placeholder="Modelo" @bind="_vehiculo.Fabricacion" class="form-control">
<input placeholder="Dominio" @bind="_vehiculo.Dominio" class="form-control">
@*<input placeholder="ID del titular" @bind="_vehiculo.TitularId" class="form-control">*@
<select id="titulares">
  @foreach (var t in _lista)
  {
    <option value=@t.ID>@t.Nombre @t.Apellido</option>

  }
</select>
<button class="btn btn-primary" @onclick="Aceptar">Aceptar</button>

@if (_esNuevo)
{
   <h3>Agregando un nuevo Vehiculo</h3>
}
else
{
   <h3>Modificando al Vehiculo "@_vehiculo.Dominio"</h3>
} 

@code {
    List<Titular> _lista = new List<Titular>();
    protected override void OnInitialized()
    {
        _lista = ListarTitularesUseCase.Ejecutar();
    }

    Vehiculo _vehiculo = new Vehiculo();
    [Parameter] public int? ID { get; set; }
    bool _esNuevo = true;
    protected override void OnParametersSet()
    {
        if (ID != null)
        {
            var v_hallado = ObtenerVehiculoUseCase.Ejecutar(ID.Value);
            if (v_hallado != null)
            {
                _vehiculo = v_hallado;
                _esNuevo = false;
            }
        }
    }
   void Aceptar()
   {
       if (_esNuevo)
       {
           AgregarVehiculoUseCase.Ejecutar(_vehiculo);
       }
       else
       {
           ModificarVehiculoUseCase.Ejecutar(_vehiculo);
       }
       _vehiculo = new Vehiculo();
       Navegador.NavigateTo("listadovehiculos");
   }  
}